.home-container {
  /* border: 2px solid black; */
  width: 100vw;
  max-height: 100vh;
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  flex-direction: column;
}
