/* For no scrollbar */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Background color variant */
.bg-first {
  background-color: #fdf3f1;
}

.bg-second {
  background-color: #febc94;
}

.bg-third {
  background-color: #252b42;
}

.bg-fourth {
  background-color: #a01a10;
}

.bg-fifth {
  background-color: #96ba7b;
}

.bg-sixth {
  background-color: #737373;
}

/* Text color palettes */
.text-first {
  color: #fdf3f1;
}

.text-second {
  color: #febc94;
}

.text-third {
  color: #252b42;
}

.text-fourth {
  color: #a01a10;
}

.text-fifth {
  color: #96ba7b;
}

.text-sixth {
  color: #737373;
}
